.sketch-box {
    background: yellow;
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.page {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}

.header {
    margin-left: 10%;
    font-size: 37px;
}

.btn {
    width: 400px;
    height: 60px;
}